	.header h1{
				width: 100%;
				display: block;
				color: #FFF11C;
				font-family: 'Montserrat', sans-serif !important;
				font-size: 22px;
				font-weight: bold !important;
				text-align: left;
				padding: 0px !important;
	}
	.link a:hover,
	.link a{
				font-weight: bold !important;
				color: #ffffff !important;
    			background-color: #FF5300 !important;
    			border-radius: 7px 7px 7px 7px !important;
    			padding: 20px 35px 20px 35px !important;
    			font-size: 18px !important;
    			justify-content: center !important;
    			-webkit-box-align: center !important;
    			-ms-flex-align: center !important;
    			font-family: 'Montserrat', sans-serif !important;
    			animation: pulse 0.7s infinite !important;
    			animation-direction: alternate !important;
    			animation-name: pulse !important;
				}
	.link {
    			display: grid;
    			grid-gap: 10px;
    			justify-content: inherit !important;
    			width: 100%;
	}
 	i {
    			color: #00FF0C !important;
    			padding: 10px;
				display: inline;
				margin-right: 5px;
	}
	.comprasegura {
				max-width: 300px !important;
				margin: 0 auto !important;
	}
	.uk-accordion-title::before {
    background-position: 50% 100% !important;
}